@import '_variables';

footer {
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    
    & span {
        font-weight: 700;
        color: #fdf;
        cursor: pointer;
    }
    
    & a {
        text-decoration: none;
        color: inherit;
        margin-bottom: 3px;
        border-bottom: .05rem solid rgba(220, 220, 220, .5);
    }
}